/* 
    Document   : style
    Created on : Jan 23, 2015, 2:35:50 PM
    Author     : admin
    Description:
        Purpose of the stylesheet follows.
*/

*{
    padding: 0;
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: Tahoma;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a{
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

.fll{
    float: left;
}

.flr{
    float: right;
}

.clb{
    clear: both;
}

body{
    background: #000000;
    color: #fff;
    width: 900px;
    margin: 0 auto;
    font-family: Tahoma;

    font-size: 12px;
}



.btn {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  color: #ffffff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #7f9293;
  border-color: #74898a;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.btn-primary {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #1e2a36;
  border-color: #161f29;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-warning {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #d2850b;
  border-color: #be780a;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-danger {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #df2e1b;
  border-color: #cd2a19;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-success {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #13987e;
  border-color: #11866f;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-info {
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #2383c4;
  border-color: #2077b2;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-link {
  font-weight: normal;
  color: #18bc9c;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #18bc9c;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #b4bcc2;
  text-decoration: none;
}

.btn-lg {
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-sm,
.btn-xs {
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}


.alert {
  padding: 7px 10px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable {
  padding-right: 35px;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.alert-success hr {
  border-top-color: #15a589;
}

.alert-success .alert-link {
  color: #e6e6e6;
}

.alert-info {
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}

.alert-info hr {
  border-top-color: #258cd1;
}

.alert-info .alert-link {
  color: #e6e6e6;
}

.alert-warning {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}

.alert-warning hr {
  border-top-color: #e08e0b;
}

.alert-warning .alert-link {
  color: #e6e6e6;
}

.alert-danger {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.alert-danger hr {
  border-top-color: #e43725;
}

.alert-danger .alert-link {
  color: #e6e6e6;
}


ul{

}

#header{
    display: block;
    height: 200px;
    width: 100%;
    background: url('../img/top_images.png') no-repeat;
}


#header .login-area{
    height: 82px;
    width: 880px;
    position: relative;
    margin: 0 auto;
    vertical-align: text-bottom;
    padding: 5px 0 0 0
}
#header .login-area .lg-rg{
    vertical-align: text-bottom;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 13px;

}
#header .login-area .lg-rg li{
    display: inline-block;

}

#header .search{
    height: 71px;
    width: 880px;
    margin: 5px auto 0;
}

#header .search .form{
    float: left;
    padding: 15px 0;
}

#header .search .form input[type=text]{
    height: 30px;
    padding: 2px 5px;
    width: 250px;
}
#header .search .form input[type=submit]{
    height: 38px;
    width: 53px;
    background: url('../img/go.png') no-repeat;
    border: 0;
    text-indent: -9999px;
}
#header .search .images-escost{
    float: right;
    padding: 10px 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.nav-header ul{
    width: 800px;
    margin: 3px auto;
    font-size: 16px;
    padding: 0;
}
.nav-header ul li{
    text-align: center;
}

.nav-header ul li.schema{
    width: 155px;
}
.nav-header ul li.advertise{
    width: 115px;
}
.nav-header ul li.webcams{
    width: 110px;
}
.nav-header ul li.links{
    width: 96px;
}
.nav-header ul li.contact{
    width: 96px;
}
.nav-header ul li.recuit{
    width: 128px;
}

#container{
    background: #333333;
}

#container .content{
    width: 650px;
    float: left;
}

#container .content{
    width: 630px;
    padding: 5px 10px;
    float: left;
}

#container .sidebar{
    width: 230px;
    padding: 5px 10px;
    float: right;
}


h1.title {
    background: none repeat scroll 0 0 #000;
    border-radius: 5px;
    display: block;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 15px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

ul.grid-view{
    list-style: none;
    width: 100%;
    width: 640px;
}

ul.grid-view li{
    background: none repeat scroll 0 0 #000000;
    display: inline-block;
    margin: 0 5px 15px 0;
    overflow: hidden;
    width: 150px;
}

.inimgbox {
    height: 210px;
    margin: auto;
    overflow: hidden;
    width: 135px;
}
.inimgwc {
    height: 135px;
    margin: auto;
    overflow: hidden;
    width: 135px;
}

.inimagetext {
    color: #ffffff;
    font-size: 12px;
    padding: 3px 0;
    text-align: center;
}


.inimagetext a, .inimagetext a:visited {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}


.wc-img{
    display: block;
    text-align: center;
    margin: 0 auto 10px;
}

div.locations{
    width: 100%;
    border: 1px solid #C0C0C0;
}

div.locations .header{
    text-align: center;
    display: block;
    font-size: 13px;
    padding: 10px;
}
div.locations .location-area{
    padding: 0 10px;
    text-align: center
}

div.locations .location-area a{
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0 5px;
    line-height: 1;
    margin: 3px 0;
    text-align: center
}

div.locations .location-area a:last-of-type{
    border-right: 0;
}

#footer1{
    background: #333333;
    padding: 10px 0;
}


#footer1 .title {
    color: #800000;
    font-weight: bold;
    padding: 10px;
    size: 14px;
    text-align: center;
}

#footer1 .tags-lb a{
    border-right: 2px solid #fff;
    padding: 0 3px;
    line-height: 1;
    margin: 3px 0;
    text-decoration: underline;
} 

#footer1 .tags-lb a.big{
    font-size: 14px;
}
#footer1 .tags-lb a.biggest{
    font-size: 16px;
}
#footer2 {
    padding-bottom: 30px;
}
#footer2 ul.page{
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 20px;

}

#footer2 ul.page li{
    display: inline-block;
    padding: 0 5px;
}

#footer2 ul.page li a{
    color: #ff00da;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
}

#footer2 .text-footer{
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#footer2 .text-footer a{
    text-decoration: underline;
}

.red{
    color: red
}

#gallery {
    padding: 30px;
    background: #000;
}
#descriptions {
    position: relative;
    height: 50px;
    background: #EEE;
    margin-top: 10px;
    width: 640px;
    padding: 10px;
    overflow: hidden;
}
#descriptions .ad-image-description {
    position: absolute;
}
#descriptions .ad-image-description .ad-description-title {
    display: block;
}


.profiletablebox {
    background: none repeat scroll 0 0 #e4e4e4;
    margin: 15px 0;
    width: 100%;
}


.profiletablebox td {
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    font-size: 13px;
    padding: 7px 10px;
}

.profiletablebox td a{
    color: #000;
}

.lineheight {
    line-height: 19px;
    padding: 20px 0
}


.tageskeyhd {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
    padding-top: 20px;
}


ul.tagskeylink {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul.tagskeylink li {
    background: url("../img/tegs_key_devider.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    display: block;
    float: left;
}

ul.tagskeylink li a, ul.tagskeylink li a:visited {
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    padding: 3px 8px;
    text-decoration: none;
    text-transform: uppercase;
}

ul.pagination{
    list-style: none;
}

ul.pagination li{
    display: inline;
    padding: 5px;
}
ul.pagination li.active a{
    color: #666
}



.inputcount {
    padding-bottom: 25px;
}
.bottomBder {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 22px !important;
    padding-bottom: 15px !important;
}


.rightGap {
    padding-right: 18px;
}
.inputLeft {
    float: left;
    padding-left: 18px;
    width: 302px;
}

.inputTxt {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 9px;
}


.inputTxt span {
    color: red;
}

.inputTxtbox {
    width: 285px;
}


.login input {
    margin: 5px 0;
}
.inputTxtbox input {
    border: 1px solid #f69c3c;
    border-radius: 4px;
    padding: 5px 0 5px 4px;
    width: 265px;
}


.inputLeft {
    float: left;
    padding-left: 18px;
    width: 250px;
}


.inputfull {
    float: left;
    padding-left: 18px;
    width: 100%;
}

.inputfull .inputTxtbox {
    width: 550px;
}


.inputfull .inputTxtbox input,.inputfull .inputTxtbox textarea{
    border: 1px solid #f69c3c;
    border-radius: 4px;
    padding: 5px 0 5px 4px;
    width: 550px;
}


.createLogin {
    padding: 0 0 10px 18px;
}


.login input {
    margin: 5px 0;
}


.submitbutton {
    border-top: 1px solid #e0e0e0;
    margin-top: 22px;
    padding: 12px 0 12px 15px;
}

.submitbutton .flbox {
    float: left;
}


.submitbutton .rightbox {
    float: right;
    padding-right: 26px;
}


.searchingNum {
    border-bottom: 1px solid #cccbca;
    color: #cccbca;
    font-size: 18px;
    margin-bottom: 18px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.contact-us{
    background-color: #c60;
    border: #9F5000 solid 2px; 
    padding: 5px 10px;
    margin: 0 0 25px;
}

.profiletopbg {
     background: url("../img/profile_top_bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    padding: 10px 0 0 5px;
    color: #000;
}


.profiletopbg span {
    margin-right: 26px;
}

.profiletopbg img {
    padding-right: 10px;
    vertical-align: middle;
}

div.content-page ul, div.content-page ol{
    padding: 10px 20px;
}

ul.social-links{
    list-style: none;
    float: right;
}

ul.social-links li{
    display: inline-block;
    margin-right: 10px;
}

ul.social-links li i{
    color: #000
}


table.dataTable tbody tr {
     background: #222;
     clear: both;
}

table.dataTable thead tr {
    background: #fff;
    color: #000;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #111;
    padding: 10px 8px;
    text-align: left;
}

table.dataTable tbody th, table.dataTable tbody td {
    clear: both;
    padding: 8px 10px;
    background: none repeat scroll 0 0 #222;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #fff;
}

.dataTables_wrapper .dataTables_filter input  {
    margin-left: 0.5em;
    padding: 5px 10px;
}

.dataTables_wrapper .dataTables_length select{
    padding: 5px;
}

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length{
    margin-bottom: 5px;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #fff;
}


.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ecf0f1;
}

.nav > li.disabled > a {
  color: #b4bcc2;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #b4bcc2;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #ecf0f1;
  border-color: #18bc9c;
}

.nav .nav-divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #ecf0f1;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #ecf0f1 #ecf0f1 #ecf0f1;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #95a5a6;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  text-align: center;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-bottom: 1px solid #ecf0f1;
}

.nav-tabs.nav-justified > .active > a {
  border-bottom-color: #ffffff;
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 5px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #2c3e50;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  text-align: center;
}

@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;
  border-bottom: 1px solid #ecf0f1;
}

.nav-tabs-justified > .active > a {
  border-bottom-color: #ffffff;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: " ";
}

.tabbable:after {
  clear: both;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: " ";
}

.tabbable:after {
  clear: both;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: " ";
}

.tabbable:after {
  clear: both;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: " ";
}

.tabbable:after {
  clear: both;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: " ";
}

.tabbable:after {
  clear: both;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.nav .caret {
  border-top-color: #18bc9c;
  border-bottom-color: #18bc9c;
}

.nav a:hover .caret {
  border-top-color: #18bc9c;
  border-bottom-color: #18bc9c;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 60px;
  margin-bottom: 21px;
  border: 1px solid transparent;
}

.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.navbar:after {
  clear: both;
}

.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.navbar:after {
  clear: both;
}

.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.navbar:after {
  clear: both;
}

.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.navbar:after {
  clear: both;
}

.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.navbar:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse.in {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-collapse .navbar-text:last-child {
    margin-right: 0;
  }
}

.container > .navbar-header,
.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-static-top {
  border-width: 0 0 1px;
}

@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  z-index: 1030;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
}

.navbar-brand {
  float: left;
  padding: 19.5px 15px;
  font-size: 19px;
  line-height: 21px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 13px;
  margin-right: 15px;
  margin-bottom: 13px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 9.75px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 21px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 21px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}

.navbar-form {
  padding: 10px 15px;
  margin-top: 8.5px;
  margin-right: -15px;
  margin-bottom: 8.5px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-nav.pull-right > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.navbar-btn {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}

.navbar-text {
  float: left;
  margin-top: 19.5px;
  margin-bottom: 19.5px;
}

@media (min-width: 768px) {
  .navbar-text {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.navbar-default {
  background-color: #2c3e50;
  border-color: #202d3b;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #18bc9c;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: #777777;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #18bc9c;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1a242f;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #1a242f;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1a242f;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #1f2c39;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #18bc9c;
  border-bottom-color: #18bc9c;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #1a242f;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #18bc9c;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1a242f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #18bc9c;
}

.navbar-inverse {
  background-color: #18bc9c;
  border-color: #128f76;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #2c3e50;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #2c3e50;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #15a589;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #128f76;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #128f76;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #149c82;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #15a589;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #2c3e50;
  border-bottom-color: #2c3e50;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #128f76;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2c3e50;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #15a589;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-inverse .navbar-link {
  color: #ffffff;
}

.navbar-inverse .navbar-link:hover {
  color: #2c3e50;
}



.tags {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    color: #777;
    display: inline-block;
    padding: 4px 6px;
    vertical-align: middle;
    width: 206px;
}
.tags:hover {
    border-color: #b5b5b5;
}
.tags-hover, .tags-hover:hover {
    border-color: #f59942;
    outline: 0 none;
}
.tags[class*="span"] {
    float: none;
    margin-left: 0;
}
.tags input[type="text"], .tags input[type="text"]:focus {
    border: medium none;
    box-shadow: none;
    display: inline;
    line-height: 18px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    width: 100%;
}
.tags .tag {
    background-color: #91b8d0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 4px 22px 5px 9px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
.tags .tag:empty {
    display: none;
}
.tags .tag-important {
    background-color: #d15b47;
}
.tags .tag-warning {
    background-color: #ffb752;
}
.tags .tag-success {
    background-color: #87b87f;
}
.tags .tag-info {
    background-color: #6fb3e0;
}
.tags .tag-inverse {
    background-color: #555;
}
.tags .tag .close {
    bottom: 0;
    color: #fff;
    float: none;
    font-size: 15px;
    line-height: 20px;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 18px;
}
.tags .tag .close:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tags a{
    color: #000;
}


input.ace.ace-switch.ace-switch-7[type="checkbox"] + .lbl:after {
    background-color: #aaa;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    height: 20px;
    left: 39px;
    line-height: 18px;
    padding: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 3px;
    transition: all 0.2s ease-in-out 0s;
    width: 32px;
}
input.ace.ace-switch.ace-switch-7[type="checkbox"]:checked + .lbl:before {
    background-color: #fff;
    border-color: #6fb3e0;
    color: #468fcc;
    text-indent: -28px;
}
input.ace.ace-switch.ace-switch-7[type="checkbox"]:checked + .lbl:after {
    background-color: #468fcc;
    color: #fff;
    content: "";
    left: 3px;
}
input.ace.ace-switch[type="checkbox"] + .lbl[data-lbl]:before {
    content: attr(data-lbl);
}
input.ace.ace-switch.btn-empty[type="checkbox"] + .lbl:after {
    content: "";
}
input.ace.ace-switch.btn-rotate[type="checkbox"] + .lbl:after {
    content: "≡";
    font-size: 17px;
    line-height: 20px;
}
input.ace.ace-switch-4.btn-rotate[type="checkbox"] + .lbl:after, input.ace.ace-switch-5.btn-rotate[type="checkbox"] + .lbl:after {
    line-height: 17px;
}
input.ace.ace-switch.btn-flat[type="checkbox"] + .lbl:before, input.ace.ace-switch.btn-flat[type="checkbox"] + .lbl:after {
    border-radius: 0 !important;
}
input.ace.ace-switch.ace-switch-4[type="checkbox"] + .lbl:before, input.ace.ace-switch.ace-switch-5[type="checkbox"] + .lbl:before {
    text-indent: -24px;
}
input.ace.ace-switch.ace-switch-4[type="checkbox"]:checked + .lbl:before, input.ace.ace-switch.ace-switch-5[type="checkbox"]:checked + .lbl:before {
    text-indent: 7px;
}
input.ace + .lbl.padding-16:before {
    margin-right: 16px;
}
input.ace + .lbl.padding-14:before {
    margin-right: 14px;
}
input.ace + .lbl.padding-12:before {
    margin-right: 12px;
}
input.ace + .lbl.padding-10:before {
    margin-right: 10px;
}
input.ace + .lbl.padding-8:before {
    margin-right: 8px;
}
input.ace + .lbl.padding-6:before {
    margin-right: 6px;
}
input.ace + .lbl.padding-4:before {
    margin-right: 4px;
}
input.ace + .lbl.padding-2:before {
    margin-right: 2px;
}
input.ace + .lbl.padding-0:before {
    margin-right: 0;
}
.ace-file-input {
    display: block;
    font-size: inherit;
    height: 30px;
    position: relative;
}
.ace-file-input input[type="file"] {
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;
    z-index: -999;
}
.ace-file-input input[type="file"]:focus {
    outline: 0 none;
}
.ace-file-input .ace-file-container {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.15s ease 0s;
}
.ace-file-input .ace-file-container:hover {
    border-color: #f59942;
    box-shadow: none;
}
.ace-file-input .ace-file-container:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #6fb3e0;
    border-color: #fff;
    border-image: none;
    border-style: solid;
    border-width: 2px 2px 2px 4px;
    bottom: 0;
    color: #fff;
    content: attr(data-title);
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 24px;
    padding: 0 8px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
}
.ace-file-input .ace-file-container .ace-file-name {
    color: #888;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    max-width: 80%;
    overflow: hidden;
    padding-left: 30px;
    position: static;
    vertical-align: top;
    white-space: nowrap;
}
.ace-file-input .ace-file-container .ace-file-name:after {
    content: attr(data-title);
    display: inline-block;
}
.ace-file-input .ace-file-container.selected {
    right: 16px;
}
.ace-file-input .ace-file-container.selected .ace-file-name {
    color: #666;
}
.ace-file-input .ace-file-container .ace-icon {
    background-color: #d1d1d1;
    border: 2px solid #fff;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    left: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.1s ease 0s;
    width: 26px;
}
.ace-file-input .ace-file-container.selected .ace-file-name .ace-icon {
    background-color: #efad62;
}
.ace-file-input .ace-file-container.selected .ace-file-name .file-image {
    background-color: #bd7a9d;
}
.ace-file-input .ace-file-container.selected .ace-file-name .file-video {
    background-color: #87b87f;
}
.ace-file-input .ace-file-container.selected .ace-file-name .file-audio {
    background-color: #8b7ac9;
}
.ace-file-input .ace-file-container.selected .ace-file-name .file-archive {
    background-color: #efad62;
}
.ace-file-input .ace-file-container.hide-placeholder:before {
    display: none;
}
.ace-file-input a:hover {
    text-decoration: none;
}
.ace-file-input .remove {
    background-color: #fb7142;
    border-radius: 100%;
    color: #fff;
    display: none;
    font-size: 11px;
    font-weight: 400;
    height: 17px;
    line-height: 15px;
    position: absolute;
    right: -8px;
    text-align: center;
    text-decoration: none;
    top: 6px;
    width: 17px;
}
.ace-file-input .ace-file-container.selected + .remove {
    display: inline-block;
}
@media not all {
.ace-file-input input[type="file"] {
    height: 0;
    position: absolute;
    width: 0;
}
}
.ace-file-input input.disabled[type="file"] + .ace-file-container, .ace-file-input input[type="file"][disabled] + .ace-file-container, .ace-file-input input[type="file"][readonly] + .ace-file-container {
    background-color: #eee;
    cursor: not-allowed;
}
.ace-file-input input.disabled[type="file"] + .ace-file-container:hover, .ace-file-input input[type="file"][disabled] + .ace-file-container:hover, .ace-file-input input[type="file"][readonly] + .ace-file-container:hover {
    border-color: #e3e3e3;
    box-shadow: none;
}
.ace-file-input input.disabled[type="file"] + .ace-file-container:before, .ace-file-input input[type="file"][disabled] + .ace-file-container:before, .ace-file-input input[type="file"][readonly] + .ace-file-container:before {
    background-color: #a1aaaf;
    border-color: #eee;
}
.ace-file-input input[type="file"][readonly] + .ace-file-container {
    cursor: default;
}
.ace-file-input .ace-file-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: -2px;
    left: -2px;
    position: absolute;
    right: -10px;
    top: -2px;
    z-index: 99;
}
.ace-file-input .ace-file-overlay > .overlay-content {
    display: inline-block;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
}
.ace-file-multiple {
    height: auto;
}
.ace-file-multiple .ace-file-container {
    border: 1px dashed #aaa;
    border-radius: 4px;
    height: auto;
    position: relative;
    text-align: center;
}
.ace-file-multiple .ace-file-container:before {
    background-color: #fff;
    border-width: 0;
    color: #ccc;
    content: attr(data-title);
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    line-height: 22px;
    margin: 12px;
    position: relative;
    right: 0;
}
.ace-file-multiple .ace-file-container.selected .ace-file-name .ace-icon {
    border: 2px solid #fff;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    left: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.1s ease 0s;
    width: 26px;
}
.ace-file-multiple .ace-file-container .ace-file-name {
    border-bottom: 1px solid #ddd;
    display: block;
    height: auto;
    margin: 0 4px;
    max-width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
    width: auto;
}
.ace-file-multiple .ace-file-container .ace-file-name:first-child {
    margin-top: 1px;
}
.ace-file-multiple .ace-file-container .ace-file-name:last-child {
    border-bottom-width: 0;
    margin-bottom: 1px;
}
.ace-file-multiple .ace-file-container .ace-file-name img {
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #d7d7d7;
    margin: 4px 8px 4px 1px;
    padding: 2px;
}
.ace-file-multiple .ace-file-container .ace-file-name:after {
    display: none;
}
.ace-file-multiple .ace-file-container.selected .ace-file-name:after {
    display: inline-block;
    white-space: pre;
}
.ace-file-multiple .ace-file-container .ace-file-name img + .ace-icon, .ace-file-multiple .ace-file-container.selected .ace-file-name img + .ace-icon {
    display: none;
}
.ace-file-multiple .remove {
    background-color: #fff;
    border: 3px solid #bbb;
    border-radius: 32px;
    color: red;
    height: 23px;
    line-height: 15px;
    right: -11px;
    top: -11px;
    width: 23px;
}
.ace-file-multiple .ace-file-container.selected + .remove:hover {
    border-color: #f4c0b1;
}
.ace-file-multiple .ace-file-overlay {
    bottom: -6px;
    left: -12px;
    position: absolute;
    right: -12px;
    top: -12px;
}
.ace-file-multiple .ace-file-overlay > .overlay-content {
    top: 20%;
}
.ace-file-multiple .ace-file-container .ace-file-name .ace-icon {
    background-color: transparent;
    color: #d5d5d5;
    display: block;
    font-size: 64px;
    height: auto;
    line-height: 64px;
    margin: 4px 0;
    position: relative;
    text-align: center;
    width: auto;
}
.ace-file-multiple .ace-file-container.selected:after {
    display: none;
}
.ace-file-multiple .ace-file-container.selected .ace-file-name .ace-icon {
    line-height: 24px;
    margin-left: 2px;
    margin-right: 4px;
    position: relative;
}
.ace-file-multiple .ace-file-container .ace-file-name.large {
    border-bottom: 1px solid #222;
    margin: 0 1px 3px;
    text-align: center;
}
.ace-file-multiple .ace-file-container .ace-file-name.large:last-child {
    margin: 0 1px;
}
.ace-file-multiple .ace-file-container .ace-file-name.large:after {
    background-color: #555;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.8;
    padding: 0 4px;
    position: absolute;
    right: 0;
    top: auto;
}
.ace-file-multiple .ace-file-container .ace-file-name.large img {
    border-width: 0;
    margin: 0 !important;
    padding: 0;
}
.ace-file-multiple input.disabled[type="file"] + .ace-file-container:hover, .ace-file-multiple input[type="file"][disabled] + .ace-file-container:hover, .ace-file-multiple input[type="file"][readonly] + .ace-file-container:hover {
    border-color: #aaa;
}
.ace-file-multiple input.disabled[type="file"] + .ace-file-container:before, .ace-file-multiple input[type="file"][disabled] + .ace-file-container:before, .ace-file-multiple input[type="file"][readonly] + .ace-file-container:before {
    background-color: transparent;
}
.ace-file-multiple input.disabled[type="file"] + .ace-file-container .ace-icon, .ace-file-multiple input[type="file"][disabled] + .ace-file-container .ace-icon, .ace-file-multiple input[type="file"][readonly] + .ace-file-container .ace-icon {
    border-color: #eee;
}
.input-group .input-group-addon {
    border-radius: 0 !important;
}
.form-group.has-success .input-group .input-group-addon {
    border-color: #9cc573;
}
.progress {
    background-color: #ecf0f1;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 21px;
    margin-bottom: 21px;
    overflow: hidden;
}
.progress-bar {
    background-color: #2c3e50;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #ffffff;
    float: left;
    font-size: 13px;
    height: 100%;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress.active .progress-bar {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.progress-bar-success {
    background-color: #18bc9c;
}
.progress-striped .progress-bar-success {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
    background-color: #3498db;
}
.progress-striped .progress-bar-info {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
    background-color: #f39c12;
}
.progress-striped .progress-bar-warning {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
    background-color: #e74c3c;
}
.progress-striped .progress-bar-danger {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

span.preview{
    display: block;
}