/* 
    Document   : style
    Created on : Jan 23, 2015, 2:35:50 PM
    Author     : admin
    Description:
        Purpose of the stylesheet follows.
*/

*{
    padding: 0;
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: Tahoma;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a{
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

.fll{
    float: left;
}

.flr{
    float: right;
}

.clb{
    clear: both;
}

body{
    background: #000000;
    color: #fff;
    width: 900px;
    margin: 0 auto;
    font-family: Tahoma;

    font-size: 12px;
}



.btn {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  color: #ffffff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #7f9293;
  border-color: #74898a;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.btn-primary {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #1e2a36;
  border-color: #161f29;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-warning {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #d2850b;
  border-color: #be780a;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-danger {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #df2e1b;
  border-color: #cd2a19;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn-success {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #13987e;
  border-color: #11866f;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.btn-info {
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #2383c4;
  border-color: #2077b2;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-link {
  font-weight: normal;
  color: #18bc9c;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #18bc9c;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #b4bcc2;
  text-decoration: none;
}

.btn-lg {
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-sm,
.btn-xs {
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}


.alert {
  padding: 7px 10px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable {
  padding-right: 35px;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.alert-success hr {
  border-top-color: #15a589;
}

.alert-success .alert-link {
  color: #e6e6e6;
}

.alert-info {
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}

.alert-info hr {
  border-top-color: #258cd1;
}

.alert-info .alert-link {
  color: #e6e6e6;
}

.alert-warning {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}

.alert-warning hr {
  border-top-color: #e08e0b;
}

.alert-warning .alert-link {
  color: #e6e6e6;
}

.alert-danger {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.alert-danger hr {
  border-top-color: #e43725;
}

.alert-danger .alert-link {
  color: #e6e6e6;
}


ul{

}

#header{
    display: block;
    height: 200px;
    width: 100%;
    background: url('../img/top_images.png') no-repeat;
}


#header .login-area{
    height: 82px;
    width: 880px;
    position: relative;
    margin: 0 auto;
    vertical-align: text-bottom;
    padding: 5px 0 0 0
}
#header .login-area .lg-rg{
    vertical-align: text-bottom;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 13px;

}
#header .login-area .lg-rg li{
    display: inline-block;

}

#header .search{
    height: 71px;
    width: 880px;
    margin: 5px auto 0;
}

#header .search .form{
    float: left;
    padding: 15px 0;
}

#header .search .form input[type=text]{
    height: 30px;
    padding: 2px 5px;
    width: 250px;
}
#header .search .form input[type=submit]{
    height: 38px;
    width: 53px;
    background: url('../img/go.png') no-repeat;
    border: 0;
    text-indent: -9999px;
}
#header .search .images-escost{
    float: right;
    padding: 10px 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.nav-header ul{
    width: 800px;
    margin: 3px auto;
    font-size: 16px;
    padding: 0;
}
.nav-header ul li{
    text-align: center;
}

.nav-header ul li.schema{
    width: 155px;
}
.nav-header ul li.advertise{
    width: 115px;
}
.nav-header ul li.webcams{
    width: 110px;
}
.nav-header ul li.links{
    width: 96px;
}
.nav-header ul li.contact{
    width: 96px;
}
.nav-header ul li.recuit{
    width: 128px;
}

#container{
    background: #333333;
}

#container .content{
    width: 650px;
    float: left;
}

#container .content{
    width: 630px;
    padding: 5px 10px;
    float: left;
}

#container .sidebar{
    width: 230px;
    padding: 5px 10px;
    float: right;
}


h1.title {
    background: none repeat scroll 0 0 #000;
    border-radius: 5px;
    display: block;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 15px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

ul.grid-view{
    list-style: none;
    width: 100%;
    width: 640px;
}

ul.grid-view li{
    background: none repeat scroll 0 0 #000000;
    display: inline-block;
    margin: 0 5px 15px 0;
    overflow: hidden;
    width: 150px;
}

.inimgbox {
    height: 210px;
    margin: auto;
    overflow: hidden;
    width: 135px;
}
.inimgwc {
    height: 135px;
    margin: auto;
    overflow: hidden;
    width: 135px;
}

.inimagetext {
    color: #ffffff;
    font-size: 12px;
    padding: 3px 0;
    text-align: center;
}


.inimagetext a, .inimagetext a:visited {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}


.wc-img{
    display: block;
    text-align: center;
    margin: 0 auto 10px;
}

div.locations{
    width: 100%;
    border: 1px solid #C0C0C0;
}

div.locations .header{
    text-align: center;
    display: block;
    font-size: 13px;
    padding: 10px;
}
div.locations .location-area{
    padding: 0 10px;
    text-align: center
}

div.locations .location-area a{
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0 5px;
    line-height: 1;
    margin: 3px 0;
    text-align: center
}

div.locations .location-area a:last-of-type{
    border-right: 0;
}

#footer1{
    background: #333333;
    padding: 10px 0;
}


#footer1 .title {
    color: #800000;
    font-weight: bold;
    padding: 10px;
    size: 14px;
    text-align: center;
}

#footer1 .tags a{
    border-right: 2px solid #fff;
    padding: 0 3px;
    line-height: 1;
    margin: 3px 0;
    text-decoration: underline;
} 

#footer1 .tags a.big{
    font-size: 14px;
}
#footer1 .tags a.biggest{
    font-size: 16px;
}
#footer2 {
    padding-bottom: 30px;
}
#footer2 ul.page{
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 20px;

}

#footer2 ul.page li{
    display: inline-block;
    padding: 0 5px;
}

#footer2 ul.page li a{
    color: #ff00da;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
}

#footer2 .text-footer{
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#footer2 .text-footer a{
    text-decoration: underline;
}

.red{
    color: red
}

#gallery {
    padding: 30px;
    background: #000;
}
#descriptions {
    position: relative;
    height: 50px;
    background: #EEE;
    margin-top: 10px;
    width: 640px;
    padding: 10px;
    overflow: hidden;
}
#descriptions .ad-image-description {
    position: absolute;
}
#descriptions .ad-image-description .ad-description-title {
    display: block;
}


.profiletablebox {
    background: none repeat scroll 0 0 #e4e4e4;
    margin: 15px 0;
    width: 100%;
}


.profiletablebox td {
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    font-size: 13px;
    padding: 7px 10px;
}

.profiletablebox td a{
    color: #000;
}

.lineheight {
    line-height: 19px;
    padding: 20px 0
}


.tageskeyhd {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
    padding-top: 20px;
}


ul.tagskeylink {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul.tagskeylink li {
    background: url("../img/tegs_key_devider.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
    display: block;
    float: left;
}

ul.tagskeylink li a, ul.tagskeylink li a:visited {
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    padding: 3px 8px;
    text-decoration: none;
    text-transform: uppercase;
}

ul.pagination{
    list-style: none;
}

ul.pagination li{
    display: inline;
    padding: 5px;
}
ul.pagination li.active a{
    color: #666
}



.inputcount {
    padding-bottom: 25px;
}
.bottomBder {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 22px !important;
    padding-bottom: 15px !important;
}


.rightGap {
    padding-right: 18px;
}
.inputLeft {
    float: left;
    padding-left: 18px;
    width: 302px;
}

.inputTxt {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 9px;
}


.inputTxt span {
    color: red;
}

.inputTxtbox {
    width: 285px;
}


.login input {
    margin: 5px 0;
}
.inputTxtbox input {
    border: 1px solid #f69c3c;
    border-radius: 4px;
    padding: 5px 0 5px 4px;
    width: 265px;
}


.inputLeft {
    float: left;
    padding-left: 18px;
    width: 250px;
}


.inputfull {
    float: left;
    padding-left: 18px;
    width: 100%;
}

.inputfull .inputTxtbox {
    width: 550px;
}


.inputfull .inputTxtbox input,.inputfull .inputTxtbox textarea{
    border: 1px solid #f69c3c;
    border-radius: 4px;
    padding: 5px 0 5px 4px;
    width: 550px;
}


.createLogin {
    padding: 0 0 10px 18px;
}


.login input {
    margin: 5px 0;
}


.submitbutton {
    border-top: 1px solid #e0e0e0;
    margin-top: 22px;
    padding: 12px 0 12px 15px;
}

.submitbutton .flbox {
    float: left;
}


.submitbutton .rightbox {
    float: right;
    padding-right: 26px;
}


.searchingNum {
    border-bottom: 1px solid #cccbca;
    color: #cccbca;
    font-size: 18px;
    margin-bottom: 18px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.contact-us{
    background-color: #c60;
    border: #9F5000 solid 2px; 
    padding: 5px 10px;
    margin: 0 0 25px;
}

.profiletopbg {
     background: url("../img/profile_top_bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    padding: 10px 0 0 5px;
    color: #000;
}


.profiletopbg span {
    margin-right: 26px;
}

.profiletopbg img {
    padding-right: 10px;
    vertical-align: middle;
}

div.content-page ul, div.content-page ol{
    padding: 10px 20px;
}

ul.social-links{
    list-style: none;
    float: right;
}

ul.social-links li{
    display: inline-block;
    margin-right: 10px;
}

ul.social-links li i{
    color: #000
}